---
import NavBar from "@components/NavBar.astro";
---

<html>
  <body>
    <NavBar/>

    <section class="hero content-width">
      <div class="hero-content">
        <h1><a href="/">Trail Food Score</a></h1>
      </div>
    </section>
  </body>
</html>

<style>
  :root {
    --section-background: white;
    --section-thick-border-color: #198c7a57;
    --section-thin-border-color: #198c88;
    --section-thin-border: 2px solid var(--section-thin-border-color);

    --divider-color: hsl(0, 0%, 53%);

    --navbar-color: #198c88;
  }

  body {
    margin: 0;
    font-family: system-ui, sans-serif;
    font-size: 1.1rem;
  }

  .hero {
    margin: 0 auto 0;
    padding: 20px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-content {
    width: clamp(19rem, 90vw, 35rem);
    text-align: center;
  }
</style>
