---
import NavLink from "@components/NavLink.astro";
---

<header class="navbar" role="banner">
  <div class="navbar-container content-width">
    <nav class="nav-menu" role="navigation">
      <NavLink targetPath="/">Home</NavLink>
      <NavLink targetPath="/how-it-works">How It Works</NavLink>
    </nav>
  </div>
</header>

<style>
  .navbar {
    background-color: var(--navbar-color);
    width: 100%;
  }

  .navbar-container {
    margin: 0 auto;
    padding: 0;
    height: 48px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
  }

  /* Nav menu (desktop) */
  .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 100%;
  }

  .content-width {
    max-width: 700px;
    margin: 0 auto;
  }
</style>
