---
interface Props
{
    /**
     * The path that this NavLink links to.
     */
    readonly targetPath: string;
}

const { targetPath } = Astro.props;
const isActive: boolean = (Astro.url.pathname === targetPath);
---
<a class={`navlink ${isActive ? "active" : ""}`} href={targetPath}>
    <slot/>
</a>

<style>
  .navlink {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 12px;
  }

  .navlink:hover {
    text-decoration: underline;
  }

  .navlink.active {
    background-color: white;
    font-weight: 700;
    color: black;
  }

  .navlink.active:hover {
    text-decoration: none;
  }
</style>